:root {
  /* Text Colors */
  --primaryTextColor: #232e35;
  --secondaryTextColor: #6b7074;

  /* Background Colors */
  --primaryBackgroundColor: #fbfbfb;
  --secondaryBackgroundColor: #232e35;
  --thirdBackgroundColor: #f0f4f8;

  /* Border & Line */
  --borderColor: #d4f6ff;
  --lineColor: #afcfe7;
  --borderRadius: 8px;

  /* Accent / CTA */
  --primaryAccentColor: #ffddae;
  --primaryButtonColor: #ffb870;
  --primaryButtonHover: #ffa050;

  /* Section Padding */
  --sectionPadding: 6rem 0;

  /* Shadow (Opsional) */
  --boxShadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

/* pre loader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out; /* Biar fade-out smooth */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 15%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--primaryTextColor);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primaryButtonColor);
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav a {
  color: var(--secondaryTextColor);
  display: inline-block;
  font-size: 0.95rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primaryButtonHover);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--primaryAccentColor);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.nav .navbar-extra a {
  color: var(--primaryTextColor);
  margin: 0 0.5rem;
}

.nav .navbar-extra a:hover {
  color: var(--primaryButtonHover);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 8.5rem 5rem;
  justify-content: center;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-left p {
  line-height: 2;
  text-align: justify;
}

.hero-left span {
  color: var(--primaryButtonColor);
}

.hero-left .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  color: white;
  background-color: var(--primaryButtonColor);
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.hero-left .cta:hover {
  background-color: var(--primaryButtonHover);
  transform: scale(1.05);
}

.hero-left .cta:active {
  transform: scale(0.98);
}

.hero-right img {
  width: 100%;
}

/* Services Section */
#service {
  background-color: var(--thirdBackgroundColor);
  padding: var(--sectionPadding);
}

.service {
  text-align: center;
  padding: 5rem 10px;
}

.service-title {
  margin-bottom: 1rem;
}

.service-desc {
  margin-bottom: 3rem;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--thirdBackgroundColor);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  height: 250px;
  gap: 10px;
}

.service-symbol a {
  cursor: default;
  color: var(--primaryButtonColor);
}

.service-symbol a svg {
  width: 3.5rem;
  height: auto;
}

.service-item i {
  font-size: 2rem;
  color: var(--primaryButtonColor);
  margin-bottom: 1rem;
}

.service-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.service-item p {
  font-size: 0.9rem;
  color: var(--secondaryTextColor);
}

/* Psikotes Section */
.psikotes {
  text-align: center;
  padding: 2rem;
}

.psikotes h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.psikotes span {
  color: var(--primaryButtonColor);
}

.psikotes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  max-width: 1000px;
  margin: 0 auto;
  align-items: stretch;
}

.psikotes-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
}

.psikotes-card:hover {
  transform: translateY(-5px);
}

.psikotes-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.psikotes-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.psikotes-card p {
  flex-grow: 1;
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 1rem;
}

.psikotes-card button {
  background: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.psikotes-card button:hover {
  background: darkgray;
}

.see-more {
  margin-top: 2rem;
}

.see-more button {
  background: var(--primaryButtonColor);
  border: none;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.see-more button:hover {
  background-color: var(--primaryButtonHover);
  transform: scale(1.05);
}

.see-more button:active {
  transform: scale(0.98);
}

/* Blog Section */
#blog {
  background-color: var(--thirdBackgroundColor);
  padding: var(--sectionPadding);
  text-align: center;
}

.blog h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.blog span {
  color: var(--primaryButtonColor);
}

.blog-desc {
  margin-bottom: 2rem;
  color: var(--secondaryTextColor);
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.blog-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.blog-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.blog-card p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 1rem;
}

.blog-card a {
  color: var(--primaryButtonColor);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.blog-card a:hover {
  color: var(--primaryButtonHover);
}

.see-more {
  margin-top: 2rem;
}

.see-more button {
  background: var(--primaryButtonColor);
  border: none;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.see-more button:hover {
  background-color: var(--primaryButtonHover);
  transform: scale(1.05);
}

.see-more button:active {
  transform: scale(0.98);
}

/* About Section */
#about {
  background-color: var(--primaryBackgroundColor);
  padding: var(--sectionPadding);
  text-align: center;
}

.about h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.about-desc {
  margin-bottom: 2rem;
  color: var(--secondaryTextColor);
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.about-card {
  background: white;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  padding: 0.5rem;
  text-align: center;
  transition: transform 0.2s;
}

.about-card:hover {
  transform: translateY(-5px);
}

.about-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
  border: 3px solid var(--primaryButtonColor);
}

.about-card h3 {
  font-size: 1rem;
  color: var(--primaryTextColor);
}

/* Contact Section */
#contact {
  padding: 80px 20px;
  text-align: center;
  background-color: var(--thirdBackgroundColor);
}

#contact h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

#contact p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form button {
  background: #ff7f50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #ff6347;
}

/* Footer */
footer {
  background-color: var(--secondaryBackgroundColor);
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  padding: 1rem;
}

.footer-left h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li {
  margin-bottom: 0.5rem;
}

.footer-center ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-center ul li a:hover {
  color: var(--primaryButtonHover);
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--primaryButtonHover);
}

.portofolio {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.portofolio a {
  color: white;
  transition: background 0.3s ease, transform 0.2s ease;
}

.portofolio a:hover {
  color: var(--primaryButtonHover);
  transform: scale(1.05);
}

.portofolio a:active {
  transform: scale(0.98);
}

/*  -------------------------- Media Queries ------------------------- */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }

  .service-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.7rem;
    justify-items: center;
  }

  .service-item {
    height: 220px;
    width: 80%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 82.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--thirdBackgroundColor);
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  #hero {
    height: fit-content;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .hero-right {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-right img {
    width: 85%;
    height: auto;
  }

  .hero-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .hero-left h1 {
    text-align: center;
  }

  .hero-left p {
    text-align: center;
  }

  .service-grid {
    justify-items: center;
  }

  .service-item {
    height: 200px;
    width: 80%;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .about-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }

  .main-container {
    width: 90%;
  }

  .hero-left h1 {
    text-align: center;
  }

  .hero-left .cta {
    font-size: 1.2rem;
  }

  .service-item {
    padding: 1rem;
    height: 130px;
    gap: 5px;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
}
